.card {
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .card-back,
.card .card-front {
    //backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.correct-answer {
    background-color: green;
    color: #ffffff;
    border-radius: 1rem;
    margin: 1rem;

}
.wrong-answer {
    background-color: red;
    color: #ffffff;
    border-radius: 1rem;
    margin: 1rem;
}


.score-bar {
    height: 2rem;
    border: 2px solid blue;
    border-radius: 1rem;
    width: 100%;
    text-align: left;


}
.score-bar-completed {
    height: 100%;
    width: 0%;
    border-radius: 1rem;

    background-color: green;
}