/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


div.spacer {
    padding: 2rem;
}
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .large-number {
      font-size: 4rem;
      text-align: center;
  }

  .large-text {
      font-size: 2rem;
      text-align: center;
  }
  .small-text {font-size: 1.5rem; font-weight: bold; text-align: center;}
.raw-data * {font-size: 0.8rem; font-family: 'Courier New', Courier, monospace;}

ion-label {color: #000000; font-weight: bold;}
.gender-selection ion-item {--ion-background-color: #5e0053 !important; color: #ffffff !important;}

.temperature-selection ion-item, .temperature-selection {color: #ffffff !important;}
.temperature-selection .color-1 {--ion-background-color: #fd0c0d !important; background-color: #fd0c0d !important;}
.temperature-selection .color-2 {--ion-background-color: #dd495b !important; background-color: #dd495b !important;}
.temperature-selection .color-3 {--ion-background-color: #b95f88 !important; background-color: #b95f88 !important;}
.temperature-selection .color-4 {--ion-background-color: #8b6ab7 !important; background-color: #8b6ab7 !important;}
.temperature-selection .color-5 {--ion-background-color: #5f6bdd !important; background-color: #5f6bdd !important;}
.temperature-selection .color-6 {--ion-background-color: #2267fd !important; background-color: #2267fd !important;}

.airquality-selection ion-item, .airquality-selection {color: #ffffff !important;}
.airquality-selection .color-1 {--ion-background-color: #b4eca3 !important; background-color: #b4eca3 !important;}
.airquality-selection .color-2 {--ion-background-color: #b3df8e !important; background-color: #b3df8e !important;}
.airquality-selection .color-3 {--ion-background-color: #b0cf77 !important; background-color: #b0cf77 !important;}
.airquality-selection .color-4 {--ion-background-color: #acbd59 !important; background-color: #acbd59 !important;}
.airquality-selection .color-5 {--ion-background-color: #a9ae3e !important; background-color: #a9ae3e !important;}
.airquality-selection .color-6 {--ion-background-color: #a6a21f !important; background-color: #a6a21f !important;}


.humidity-selection ion-item, .humidity-selection {color: #ffffff !important;}
.humidity-selection .color-1 {--ion-background-color: #ee8c1d !important; background-color: #ee8c1d !important;}
.humidity-selection .color-2 {--ion-background-color: #cd8b42 !important; background-color: #cd8b42 !important;}
.humidity-selection .color-3 {--ion-background-color: #ad8854 !important; background-color: #ad8854 !important;}
.humidity-selection .color-4 {--ion-background-color: #7e8267 !important; background-color: #7e8267 !important;}
.humidity-selection .color-5 {--ion-background-color: #537b71 !important; background-color: #537b71 !important;}
.humidity-selection .color-6 {--ion-background-color: #1b7479 !important; background-color: #1b7479 !important;}

